.article_container{
    
}

.article_container h2{
    margin-bottom: 20pt;
    color: var(--color-claro);
}

.article_container p{
    text-indent: 1rem;
    line-height: 2;
    margin-bottom: 20pt;
    color: var(--color-claro);
}